.info {
    text-align: left;
    padding: 20px;
    background-color: #009efb;
    color: white;
  }
  
  .info-h2 {
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    color: white;
  }
  
  .info-details-container {
    margin: 40px 0;
    
  }
  
  .info-detail {
    font-weight: 600;
    color: white;

  }
  
  .info-icons-container {
    display: flex;
    width: 100%;
  }
  
  .info-icon {
    font-size: 3rem;
    margin-right: 20px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 699px) {
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px;
    }
  
    .info-detail {
      line-height: 2;
    }
  }